/*html {
  height: 100%;
}

body {
  height: 100%;
}

div.document {
  min-height: 100%;
  margin-bottom: -100px;
}

div.document:after {
  content: "";
  display: block;
}

div.footer, div.document:after {
  height: 100px;
}

div.footer {
  background-color: ;
}*/

div.bodywrapper {

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 250px;
}

div.body {
    min-width: 360px;
    max-width: 1200px;
}

div.footer {
    box-shadow: 0 50vh 0 50vh #11303d;
}
